/node_modules
/public/hot
/public/storage
/storage/*.key
/.idea/php.xml
/.idea/modules.xml
/.idea/laravel-plugin.xml
/storage/logs/laravel.log
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
