.collection-rent {
    .banner {
        background-image: url(./../images/precise-rent-banner-img.jpg);
        background-position: center center;
        background-size: cover;
        .banner-content {
            background-color: #1e7e348f;
            padding: 8% 8% 4%;
            color: #FFF;
            .banner-content-block {
                background-color: #403D51D9;
                box-shadow: 0 2px 10px $themeBoxShadow;
                .banner-heading {
                    text-shadow: 0px 3px 6px $themeTextShadow;
                }
            }
        }
    }
    .content-container-upper-two {
        background-color: $themeLightGreyBgColor;
        padding: 56px 0;
        .content-container-inner {
            .content-container-inner-img {
                > img {
                    width: 85%;
                }
            }
            .content-container-inner-section {
                p {
                    &:first-child {
                        color: $themeBtnLinkColor;
                        font-family: 'Inter', sans-serif;
                    }
                }
                h4 {
                    margin-bottom: 16px;
                }
            }
        }
    }
    .banner-icon {
        .light-grey-bg {
            background-color: #f6f9fcf5!important;
            .heading, .p-text {
                color: #000!important;
                text-shadow: none!important;
            }
        }
        background-color: #007aca;
        background-image: url(../images/bg-icon.svg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 150% auto;
        .banner-icon-inner {
            background-color: #000000d5;
            padding: 76px 16px;
            > h2 {
                color: #FFF;
                text-shadow: 0px 2px 6px $themeTextShadow;
            }
            >p {
                color: #FFF;
                text-shadow: 0px 2px 6px $themeTextShadow;
            }
            .banner-icon-inner-section {
                box-shadow: 0 2px 10px $themeBoxShadow;
                padding: 36px 24px;
                border-radius: 8px;
                background-color: #FFF;
                .green-ribbon {
                    position: absolute;
                    right: -36px;
                    transform: rotate(40deg);
                    top: 24px;
                    font-size: 10px;
                    background: #28a745;
                    color: #FFFF;
                    display: block;
                    width: 145px;
                    text-align: center;
                    padding: 4px 0;
                }
                .sub-heading {
                    color: $themeBtnLinkColor;
                    span {
                        font-size: 14px;
                        font-weight: 400;
                    }
                }
                ul {
                    display: flex;
                    display: -ms-flex;
                    display: -webkit-flex;
                    flex-direction: column;
                    -ms-flex-direction: column;
                    -webkit-flex-direction: column;
                    row-gap: 8px;
                    li {
                        display: flex;
                        align-items: baseline;

                        .fa-check-circle {
                            color: $themeBtnLinkColor;
                        }
                    }
                }
            }
            .banner-icon-btn {
                background-color: #FFF;
                color: $themeBtnLinkColor;
                padding: 16px 24px;
                margin-top: 24px;
                -webkit-transition: all .3s;
                -o-transition: all .3s;
                transition: all .3s;
                box-shadow: 0 2px 10px $themeDarkBoxShadow;
                &:hover, &:focus {
                    color: #FFF;
                    background-color: $themeDarkBtnLinkColor;
                }
            }
        }
    }
}
@media (max-width: 1199px) {
    .collection-rent {
        .banner {
            .banner-content {
                padding: 8% 3% 4%;
            }
        }
        .content-container-upper-two {
            .content-container-inner {
                .content-container-inner-img {
                    > img {
                        width: 100%;
                    }
                }
            }
        }
    }
}
@media (min-width: 992px) {
    .collection-rent {
        .banner {
            .banner-content {
                .banner-content-block {
                    .banner-btn {
                        font-size: 18px;
                        padding: 10px;
                    }
                }
            }
        }
    }
}
@media (max-width: 991px) {
    .collection-rent {

    }
}

@media (max-width: 575px) {
    .collection-rent {
        .content-container-upper-two {
            padding: 24px 0;
        }
        .banner-icon {
            .banner-icon-inner {
                padding: 24px 16px;
            }
        }
    }
}
