//$themeBtnLinkColor: #007ACA;
//$themeDarkBtnLinkColor: #0062a3;
$themeBtnLinkColor: #48a955;
$themeDarkBtnLinkColor: #358835;
$themeBoxShadow: #00000020;
$themeDarkBoxShadow: #00000050;
$themeTextShadow: #00000075;
$themeTextColor: #4D4E59;
$themelightGreyBgColor: #F6F9FC;
